<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/theme.css') }}">
  <style>
  body, html {
    height: 100%;
    margin: 0;
  }

  .bg {
    background-image: url("{{ url_for('static',filename='img/foodiesfeed.com_beautiful-vibrant-shot-of-traditional-korean-meals.jpg') }}");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  </style>
</head>


<body class="bg">
  <div class="text-center">
    <div class="container">
      <div class="row pt-5">
        <div class="mx-auto mb-0 pb-0 col-lg-10" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));	background-position: center;	background-size: 100%;	background-repeat: no-repeat;">
          <div class="row">
            <div class="col-lg-12 mb-3 px-3 py-3 justify-content-center">
              <h1 class="justify-content-center text-light">Image to Recipe Converter</h1>
            </div>
            <div class="col-md-6 mt-3 pb-3 pt-0 px-3">
              <h4 class="text-white"><b>Upload image directly and view recipe</b></h4>
              <form method="post" action="/" enctype="multipart/form-data">
                <div class="form-group">
                <div class="btn btn-outline-success text-light">
                <input class="form-control-file" type="file" name="file" id="file" autocomplete="off" style="font-weight: normal; max-width: 100%; overflow: hidden" single required>
                </div>
                <div class="pt-1">
                <input class="btn btn-outline-success text-light" type="submit" value="Submit" style="font-weight: normal;">
                </div>
                </div>
              </form>
            </div>
            <div class="col-md-6 mt-3 pb-3 pt-0 px-3">
              <h4 class="text-white"><b>Login to save images and recipes for later</b></h4>
              <a class="btn btn-outline-success text-light mb-1" href="login"><b>Login</b></a>
              <a class="btn btn-outline-success text-light mb-1" href="register"><b>Register</b></a>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <p>
            		{% with messages = get_flashed_messages() %}
            		  {% if messages %}
            			<ul class="list-group list-group-flush">
            			{% for message in messages %}
            			<li class="list-group-item list-group-item-warning" style="list-style-type:none;"><b>{{ message }}</b></li>
            			{% endfor %}
            			</ul>
            		  {% endif %}
            		{% endwith %}
            	</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" style=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
</body>

</html>
